* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color: #222;
}

/* ---------------------
links
----------------------*/

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:focus {
  color: #fff;
  background: #000;
  outline: none;
  box-shadow:
    0 0 0 2px #000;
}

a:hover {
  color: green;
}

a:active {
  color: #fff;
  background: #EB0000;
}

/* ---------------------
headings
----------------------*/

h1,
h2,
h3,
h4 {
  color: #008000;
  overflow: hidden;
  text-overflow: ellipsis;
}


h1 {
  margin: 0 0 .75rem;
  font-size: 2em; /* 32 */
}

h2 {
  margin: 2rem 0 .75rem;
  font-size: 1.5em; /* 24 */
}

aside h2 {
  margin: 0 0 1rem;
}

h3 {
  margin: 2rem 0 .75rem;
  font-size: 1.1em;
}

p {
  margin: 0 0 1.75rem;
  line-height: 1.5;
}

/* ---------------------
containers
----------------------*/

.header {
  position: sticky;
  top: 0;
  height: 80px;              /* fixed pixel height */
  overflow: hidden;          /* clips text at zoom */
  z-index: 1000;
  padding: 10px;
  color: #004200;
  background: #EBFFEB;
  font-size: 2em;
}

.nav {
  padding: 10px 20px;
  background: #004200;
  height: 40px;
  white-space: nowrap;       /* prevents wrapping */
  overflow-x: auto;          /* forces scroll at zoom */
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin: 0 40px 0 0;
}

.nav a,
.footer a {
  text-decoration: none;
  outline: none;
}

.nav a:link,
.nav a:visited,
.footer a:link,
.footer a:visited {
  color: #fff;
}

.nav a:focus,
.nav a:hover,
.footer a:focus,
.footer a:hover {
  color: #000;
  background: #fff;
  outline: 0;
  box-shadow:
    0 0 0 2px #fff;
}

.nav a:active,
.footer a:active {
  color: #fff;
  background: #EB0000;
}

.main {
  padding: 20px;
}

.footer {
  clear: both;
  padding: 20px;
  color: #fff;
  height: 60px;
  background: #004200;
}

/* ---------------------
button
----------------------*/

.button {
  border: 0;
  border-radius: .3em;
  padding: 1em 1.3em;
  color: #fff;
  background: blue;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
}

.button:focus {
  background: #000;
  outline: none;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 5px #000;
}

.button:hover {
  color: #fff;
  background: green;
}

.button:active {
  color: #fff;
  background: #BB0000;
}

/* ---------------------
skip links
----------------------*/

.skip-links {
  margin: 0;
  padding: 10px 20px;
}

.skip-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skip-links li {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
}

/* ---------------------
wide
----------------------*/

@media (min-width: 600px) {
  .container {
    max-width: 60em;
  }

  .header {
    padding:30px;
  }

  .nav {
    padding: 10px 30px;
  }

  .main {
    padding: 30px;
  }

  .skip-links {
    padding: 10px 30px;
  }

  .col-container {
    overflow: hidden;
    max-height: 20em;
  }

  .col1, .col2, .col3 {
    float: left;
    width: 30%;
    margin: 0 3% 0 0;
  }

  .col3 {
    margin: 0;
  }
}

#main:target,
#signupForm:target {
  outline: 2px dotted black;
  animation: fade 3s forwards;
}

@keyframes fade {
  0% {
    background-color: #FFFF00;
    outline-color: black;
  }
  100% {
    background-color: transparent;
    outline-color: transparent;
  }
}