/* ---------------------
Gobal styles
----------------------*/

* {
  box-sizing: border-box;
}

body {
  max-width: 40em;
  margin: 0;
  padding: 1em 2em 1.5em;
  font-size: 1.125em;
  line-height: 1.5;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, sans-serif;
}

/* ---------------------
Paragraphs
----------------------*/

p {
  margin: 1em 0 1.5em;
}

/* ---------------------
Headings
----------------------*/

h1,
h2,
h3 {
  color: #C03C0C;
  font-weight: 600;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, sans-serif;
}

h1 code,
h2 code,
h3 code {
  color: #C03C0C;
}

h1 {
  margin: 0 0 .5em;
  font-size: 2em;
  line-height: 1.22222222222222;
}

h2 {
  margin: 2em 0 0.642857142857143em;
  font-size: 1.55555555555556em;
  line-height: 1.21428571428571;
}

h3 {
  margin: 1em 0 0.818181818181818em;
  font-size: 1.22222222222222em;
  line-height: 1.18181818181818;
}

h4 {
  margin: 0 0 1em;
  font-size: 1em;
  line-height: 1.22222222222222;
}

h5 {
  margin: 0 0 1em;
  font-size: 1em;
  line-height: 1.22222222222222;
}

/* ---------------------
Lists
----------------------*/

ul,
ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul li,
ol li {
  margin-bottom: .5em;
}

/* ---------------------
Links
----------------------*/

a:link {
  color: #0A7399;
  background: transparent;
}

a:visited {
  color: #086D91;
  background: transparent;
}

a:hover {
  color: #007700;
  background: transparent;
}

a:focus {
  color: #fff;
  background: #000;
}

a:active {
  color: #AA0000;
  background: transparent;
}

/* ---------------------
Horizontal rules
----------------------*/

hr {
  margin: 1em 0 3em;
}

/* ---------------------
Horizontal rules
----------------------*/

figure {
  margin: 2em 0;
}

figcaption {
  margin: .5em 0 0;
}

summary {
  margin-bottom: .5em;
  cursor: pointer;
}

/* ---------------------
Pre and code
----------------------*/

pre {
  font-size: 1em;
  display: block;
  background: #222;
  color: #fff;
  padding: 1em;
  margin: 1em 0 36px;
  overflow: auto;
}

code {
  font-size: 0.944444444444444em;
  color: green;
  font-family: monaco, courier, monospace;
}

pre code {
  line-height: 1.5;
  color: #fff;
}

/* ---------------------
Tables
----------------------*/

table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  background: #fff;
}

caption {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.5em;
  font-size: 1.1em;
}

th,
td {
  text-align: left;
  padding: 0.5em;
  border: 1px solid #666;
}

/* ---------------------
Forms
----------------------*/

form {
  margin: 2em 0;
  padding: 1em;
  background: #eee;
}

fieldset {
  margin: 0;
  border: 1px solid #999;
}

legend {
  font-weight: bold;
}

.form-group {
  margin: 0;
}

.form-group-spaced {
  margin: 0 0 2em;
}

.form-list {
  margin: 0.5em 0;
  padding: 0;
  list-style: none;
}

.label {
  display: block;
  margin: 0 0 0.3em;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #999;
  font-size: 1em;
  line-height: 1;
  font-family: helvetica, arial, sans-serif;
}

.input:focus {
  outline: 2px solid #000;
}

.input:hover {
  outline: 2px solid green;
}

.button,
button {
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  background: blue;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  line-height: 1;
  font-family: helvetica, arial, sans-serif;
}

.button:focus,
button:focus {
  background: #000;
  color: #fff;
  outline: none;
}

.button:hover,
button:hover {
  background: green;
  color: #fff;
}

.button:active,
button:active {
  background: red;
  color: #fff;
}

/* ---------------------
Help and errors
----------------------*/

.help-text {
  display: block;
  margin: 0 0 0.3em;
  color: #444;
}

.error-message {
  display: block;
  margin: 0;
  padding: 0.3em 0 0;
  color: red;
}

.codeHighlight,
.highlight {
  background: rgba(255, 255, 0, .3);
  padding: .1em .3em;
  border-radius: .2em;
}

/* ---------------------
Example
----------------------*/

.example {
  margin: 2em 0;
  padding: 1em;
  background: #EDEBEB;
}

.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  margin: 0;
}

p + .example {
  margin: 1em 0 2em;
}

/* ---------------------
footer link
----------------------*/

.footer-link {
  margin: 5em 0 1em;
  font-size: 0.777777777777778em;
  line-height: 1;
}

.footer-link a {
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  background: blue !important;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.2em;
}

.footer-link a:focus {
  background: #000 !important;
  color: #fff !importantv;
  outline: none;
}

.footer-link a:hover {
  background: green !important;
  color: #fff !important;
}

.footer-link a:active {
  background: red !important;
  color: #fff !important;
}

/* ---------------------
Hidden
----------------------*/

.sr-only,
.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* ---------------------
Testing text contrast
----------------------*/

.colour-example1,
.colour-example2,
.colour-example3,
.colour-example4 {
  margin-top: .5em;
  padding: 1em;
  background: #fff;
  border: 1px solid #ddd;
}

.colour-example1 {
  color: #777;
  font-size: 17pt;
}

.colour-example2 {
  color: orange;
  font-size: 13pt;
}

.colour-example3 {
  color: green;
  font-size: 19pt;
}

.colour-example4 {
  color: #B07BDB;
  font-size: 15pt;
}

/* ---------------------
Testing non-text-contrast
----------------------*/

.input1 {
  border: 2px solid #878787;
}

.input2 {
  border: 2px solid #1B9823;
}

.input3 {
  border: 2px solid #1E9DC8;
}

.input4 {
  border: 2px solid #DF58C6;
}

/* ---------------------
Testing use of color
----------------------*/

.user-of-color1 a:link {
  text-decoration: none;
}

.user-of-color-circle {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  border-radius: 26px;
}

.user-of-color-red {
  background: red;
}

.user-of-color-green {
  background: green;
}

.user-of-color-red2 {
  background: red;
  background-image: url("../img/icon-cross.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.user-of-color-green2 {
  background: green;
  background-image: url("../img/icon-tick.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------------------
Testing headings
----------------------*/

.h3 {
  margin: 1em 0 0.5em;
  font-size: 1.1em;
}

.h3 {
  line-height: 1.2;
  color: #C03C0C;
  font-weight: 600;
  font-family: source sans pro,helvetica neue,Helvetica,Arial,Frutiger,frutiger linotype,Univers,Calibri,gill sans,gill sans mt,myriad pro,Myriad,dejavu sans condensed,liberation sans,nimbus sans l,Tahoma,Geneva,sans-serif;
}

/* ---------------------
Testing landmarks
----------------------*/

header,
footer,
main,
nav,
aside,
section,
article,
form[role="search"] {
  padding: 1em;
  border: 1px solid #ccc;
  background: #efefef;
  margin: 0 0 1em;
}

/* ---------------------
Testing accessible names
----------------------*/

.testing-accessible-names-button {
  margin-left: 1em;
}

/* ---------------------
Testing states
----------------------*/

.testing-states-checkbox {
  position: relative;
  padding-left: 1.6em;
}

.testing-states-checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  top: .2em;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: .1em;
  background-color: #fff;
  box-shadow:
    0 0 0 3px #fff,
    0 0 0 5px #666;
}

/* ---------------------
Testing states
----------------------*/

.testing-images {
  padding: 1em;
  background: #eee;
}

/* ----------- 
Card styles
----------- */

.card {
  max-width: 20em;
  border: 2px solid #aaa;
  padding: 20px;
  background: #fff;
  margin: 1em 0;
}

.card-thumbnail {
  display: block;
  width: 100%;
}

.card-heading {
  font-size: 1.3em;
  margin: .5em 0;
}

.card p:last-of-type {
  margin: 0;
}

/* ----------- 
Card variations
----------- */

.card-link {
  display: block;
  max-width: 20em;
}

.card-link:link,
.card-link:visited {
  color: #333;
  text-decoration: none;
}

.card-link:hover {
  color: rgb(0,200,0);
}

.card-link:hover .card {
  border: 2px solid rgb(0,200,0);
}

.card-css:hover,
.card-special:hover {
  cursor: pointer;
  border: 2px solid rgb(0,200,0);
}

.card-css {
  position: relative;
}

.card-css a:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
}

.card-image-link {
  display: block;
}

.card-image-link:hover {
  outline: 2px solid rgb(0,200,0);
}

.card-special a {
  position: relative;
  left: -5px;
  padding: 5px;
}

/* ----------- 
Focus order nav
----------- */

.focus-order-nav {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.focus-order-nav li {
  display: inline-block;
  margin-right: 1em;
}
